<div class="container">
  <h1 class="title">Thank you!</h1>
  <p class="content">Your order is on the way!</p>
  <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia officiis minus veniam dolor aspernatur, ea
    beatae facere. Exercitationem, saepe optio. Numquam totam aut vero, voluptate accusamus ab possimus aperiam
    reiciendis cum expedita velit a eveniet consequatur deserunt! Fuga, ex quis. Tenetur ea, aliquam, aperiam quia eos
    doloribus tempora delectus itaque cum eum quisquam natus exercitationem? Fugit consequatur laudantium nostrum error
    velit magnam cum recusandae dolorem, quas eius possimus quidem obcaecati minus libero quibusdam laborum odio
    inventore voluptatibus aliquam unde optio alias iure. Eos, recusandae alias. Sed vero odio necessitatibus qui
    reiciendis, blanditiis doloribus nihil voluptas repudiandae nemo ut earum laudantium.</span>
</div>
