.container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 10%;
  height: 805;
  flex-direction: column;
  margin-top: 2rem;
}

.container .title {
  font-size: 5rem;
}

.container .content {
  font-size: 1.5rem;
  padding: 1rem;
}
